@import '../../assets/styles/variables';
.product-price {
  padding: 0rem 0.75rem;
  &__title {
    font-size: 1rem;
    font-family: $open-sans;
    color: $black-color;
    padding: 0.75rem 0rem 1rem 0rem;
  }
  &__amount {
    color: $black-color;
    font-size: 1.5rem;
    color: $green-color;
    font-family: $open-sans;
    font-weight: 500;
    span {
      color: $black-color;
      padding-right: 0.375rem;
    }
  }
}
