@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/OpenSans.ttf') format('truetype');
}

$black-color: #282c30;
$red-color: #f24150;
$blue-color: #049dbf;
$green-color: #03a696;
$grey-color: #c7c7c7;
$white-color: #ffffff;
$button-color: #ec018c;
$open-sans: 'OpenSans';
